IPFS_UPLOAD_PROXY=https://ipfsmsg.teia.art
NEXT_PUBLIC_IPFS_GATEWAY=
NEXT_PUBLIC_FALLBACK_GATEWAY=https://ipfs.io/ipfs/
NEXT_PUBLIC_GRAPHQL_API=https://teztok.teia.rocks/v1/graphql
NEXT_PUBLIC_TEIA_GATEWAY=https://cache.teia.rocks/ipfs/
